* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
  text-decoration: none;
  list-style: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 8vh;
  background-color: rgb(130, 127, 127);
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar .tooth {
  font-size: 18px;
  margin: 0 5px;
}

.navbar .navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 55px;
}

.navbar .navLinks li {
  font-size: 18px;
  font-weight: 600;
}

.navbar .navLinks li .x {
  color: #fff;
  transition: 0.5s all;
}

.navbar .navLinks li .x:hover {
  color: rgb(243, 32, 32);
  border-bottom: 1.5px solid #fff;
}

.navbar .responsive-menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar .responsive-menu-icon {
    display: block;
    position: absolute;
    left: 95%;
  }

  .navbar .navLinks {
    display: none;
  }

  .navbar .responsive-navLinks {
    display: block;
    background-color: black;
    width: 60%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 8%;
    height: 55%;
    padding: 30px;
  }

  .navbar .responsive-navLinks li {
    padding: 10px 0;
  }

  .navbar .responsive-navLinks .x {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }

  .navbar .responsive-navLinks .x:hover {
    color: rgb(243, 32, 32);
    border-bottom: 1.5px solid #fff;
  }

  .navbar .y {
    font-size: 16px;
    width: 20px;
    border: none;
    outline: 0;
  }
}
